body
{
	font-size: 12pt;
}

#content
{
	font-size: 1em;
}

#content th,
#content td
{
	padding: 0.25rem;
	text-align: center;
}

#content img[alt="emoji"]
{
	width: 1.5em;
	vertical-align: text-bottom;
}

.para-edit-close
{
	background-color: lightcoral !important;
	position: absolute;
	right: 0.66em;
}

.para-edit
{
	border: 2px solid lightgrey;
	padding-top: 2vh;
	padding-bottom: 5vh;
	padding-left: 10vw;
	padding-right: 10vw;
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 80vw;
	height: auto;
	max-height: 33vh;
	text-align: center;
	background-color: rgba(255, 255, 255, 1);
	overflow: scroll;
}

.para-display
{
	max-height: 66vh;
	text-align: left;
}

#para-tools
{
	width: 100%;
	text-align: right;
	margin-bottom: 3em;
	position: fixed;
	right: 0.66em;
	top: 0;
}

.para-edit button,
#para-tools button,
#para-rec button
{
	border: 0;
	border-radius: 0.33em;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	text-align: center;
	padding-left: 0.33em;
	padding-right: 0.33em;
	padding-top: 0.33em;
	padding-bottom: 0.1em;
	margin: 0.2em;
	background-color: whitesmoke;
	box-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, 1);
}

.para-edit button:hover,
#para-tools button:hover
{
	background-color: lightyellow;
	box-shadow: 0.2em 0.2em 0 black;
}

.para-button:active,
.para-edit button:active,
#para-tools button:active
{
	border-radius: 0.33em;
	box-shadow: 0.2em 0.2em 0 lightgrey;
}

#para-tools img
{
	width: 1em;
}

.para-edit input
{
	width: 80%;
	border: 0;
	border-radius: 0.33em;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	text-align: center;
	padding: 0.33em;
	margin: 0.2em;
	background-color: honeydew;
	box-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, 1);
}

.para-speak img
{
	width: 1em;
}

.para-button
{
	border: 0;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	text-align: center;
	background-color: inherit;
	padding: 0.1em;
}

.para-focus
{
	border: 0;
	border-radius: 0.33em;
	background-color: lightyellow;
	box-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, 1);
	padding-bottom: 0.1em;
}

.para-highlight
{
	border: 0;
	border-radius: 0.33em;
	background-color: lightyellow;
	box-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, 1);
	padding-bottom: 0.1em;
}

.para-flip,
.para-signal,
.para-info
{
	font-style: italic !important;
}

.para-flip::after,
.para-signal::after
{
	background-image: url("click.png");
	background-size: 1em 1em;
	display: inline-block;
	width: 1em;
	height: 1em;
	content: "";
}

.para-info::after
{
	background-image: url("light.png");
	background-size: 1em 1em;
	display: inline-block;
	width: 1em;
	height: 1em;
	content: "";
}

.para-pgnum
{
	z-index: 1;
	position: absolute;
	text-align: right;
	font-size: 0.66em;
	color: lightgrey;
	right: 3em;
}

.para-wrong
{
	animation:         key-glow-wrong ease-in-out 2s infinite;
	-webkit-animation: key-glow-wrong ease-in-out 2s infinite;
	-moz-animation:    key-glow-wrong ease-in-out 2s infinite;
	-o-animation:      key-glow-wrong ease-in-out 2s infinite;
	-ms-animation:     key-glow-wrong ease-in-out 2s infinite;
}

.para-right
{
	animation:         key-glow-right ease-in-out 1s forwards;
	-webkit-animation: key-glow-right ease-in-out 1s forwards;
	-moz-animation:    key-glow-right ease-in-out 1s forwards;
	-o-animation:      key-glow-right ease-in-out 1s forwards;
	-ms-animation:     key-glow-right ease-in-out 1s forwards;
}

.ani-fadein
{
	animation:         key-opacity-fadein ease-in-out 1s forwards;
	-webkit-animation: key-opacity-fadein ease-in-out 1s forwards;
	-moz-animation:    key-opacity-fadein ease-in-out 1s forwards;
	-o-animation:      key-opacity-fadein ease-in-out 1s forwards;
	-ms-animation:     key-opacity-fadein ease-in-out 1s forwards;
}

.ani-fadeout
{
	animation:         key-opacity-fadeout ease-in-out 1s forwards;
	-webkit-animation: key-opacity-fadeout ease-in-out 1s forwards;
	-moz-animation:    key-opacity-fadeout ease-in-out 1s forwards;
	-o-animation:      key-opacity-fadeout ease-in-out 1s forwards;
	-ms-animation:     key-opacity-fadeout ease-in-out 1s forwards;
}

.edit-fadein
{
	animation:         key-opacity-fadein ease-in-out 0.5s forwards;
	-webkit-animation: key-opacity-fadein ease-in-out 0.5s forwards;
	-moz-animation:    key-opacity-fadein ease-in-out 0.5s forwards;
	-o-animation:      key-opacity-fadein ease-in-out 0.5s forwards;
	-ms-animation:     key-opacity-fadein ease-in-out 0.5s forwards;
}

.edit-fadeout
{
	animation:         key-opacity-fadeout ease-in-out 0.5s forwards;
	-webkit-animation: key-opacity-fadeout ease-in-out 0.5s forwards;
	-moz-animation:    key-opacity-fadeout ease-in-out 0.5s forwards;
	-o-animation:      key-opacity-fadeout ease-in-out 0.5s forwards;
	-ms-animation:     key-opacity-fadeout ease-in-out 0.5s forwards;
}

@keyframes         key-opacity-fadein { from {opacity:0;} to {opacity:1;} }
@-moz-keyframes    key-opacity-fadein { from {opacity:0;} to {opacity:1;} }
@-webkit-keyframes key-opacity-fadein { from {opacity:0;} to {opacity:1;} }
@-o-keyframes      key-opacity-fadein { from {opacity:0;} to {opacity:1;} }
@-ms-keyframes     key-opacity-fadein { from {opacity:0;} to {opacity:1;} }

@keyframes         key-opacity-fadeout { from {opacity:1;} to {opacity:0;} }
@-moz-keyframes    key-opacity-fadeout { from {opacity:1;} to {opacity:0;} }
@-webkit-keyframes key-opacity-fadeout { from {opacity:1;} to {opacity:0;} }
@-o-keyframes      key-opacity-fadeout { from {opacity:1;} to {opacity:0;} }
@-ms-keyframes     key-opacity-fadeout { from {opacity:1;} to {opacity:0;} }

@keyframes         key-glow-wrong { from {text-shadow:0 0 0.05em #000;} 50% {text-shadow:0 0 0.15em red;} to {text-shadow:0 0 0.05em #000;} }
@-moz-keyframes    key-glow-wrong { from {text-shadow:0 0 0.05em #000;} 50% {text-shadow:0 0 0.15em red;} to {text-shadow:0 0 0.05em #000;} }
@-webkit-keyframes key-glow-wrong { from {text-shadow:0 0 0.05em #000;} 50% {text-shadow:0 0 0.15em red;} to {text-shadow:0 0 0.05em #000;} }
@-o-keyframes      key-glow-wrong { from {text-shadow:0 0 0.05em #000;} 50% {text-shadow:0 0 0.15em red;} to {text-shadow:0 0 0.05em #000;} }
@-ms-keyframes     key-glow-wrong { from {text-shadow:0 0 0.05em #000;} 50% {text-shadow:0 0 0.15em red;} to {text-shadow:0 0 0.05em #000;} }

@keyframes         key-glow-right { from {text-shadow:0 0 0.05em #000;} 10% {text-shadow:0 0 0.5em green;} to {text-shadow:none;} }
@-moz-keyframes    key-glow-right { from {text-shadow:0 0 0.05em #000;} 10% {text-shadow:0 0 0.5em green;} to {text-shadow:none;} }
@-webkit-keyframes key-glow-right { from {text-shadow:0 0 0.05em #000;} 10% {text-shadow:0 0 0.5em green;} to {text-shadow:none;} }
@-o-keyframes      key-glow-right { from {text-shadow:0 0 0.05em #000;} 10% {text-shadow:0 0 0.5em green;} to {text-shadow:none;} }
@-ms-keyframes     key-glow-right { from {text-shadow:0 0 0.05em #000;} 10% {text-shadow:0 0 0.5em green;} to {text-shadow:none;} }
